.results--container {
  padding: 35px;

  .results--header {
    display: flex;
    align-items: center;
  }

  .city {
    margin: 0;
    margin-left: 30px;
    font-size: 40px;
    letter-spacing: 0.2px;
    position: relative;
    top: 1px;

    @include bp(700px) {
      font-size: 32px;
      margin-left: 20px;
    }
  }

  .toggle-metrics {
    margin-left: auto;
  }

  .detailed-description--container {
    padding-top: 75px;
    padding-bottom: 40px;

    .weather-date {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    .weather-text {
      font-size: 30px;
      font-weight: 300;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .weather-description {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .weather-col-left {
        display: flex;
        align-items: center;
        margin-right: 40px;

        .degrees {
          color: $pink;
          font-size: 96px;
          margin-right: 40px;

          @include bp(700px) {
            font-size: 64px;
          }
        }

        .weather-icon {
          font-size: 96px;
          color: $pink;

          @include bp(700px) {
            font-size: 64px;
          }
        }
      }
    }

    .weather-timetable {
      color: $pink;

      td {
        padding: 2px 0;
        width: 60px;
        font-size: 22px;

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .days--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .day--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      padding: 0 5px;

      .day--name {
        margin-bottom: 6px;
      }

      .day--icon {
        margin-bottom: 6px;
        font-size: 40px;
      }

      @include bp(700px) {
        min-width: 20%;
        flex-basis: 25%;
      }
    }
  }
}